<html>
<body>
<form [formGroup]="itemForm" (submit)="addItem()">
  <label>Name:&nbsp;</label>
  <input type="text" name="name" formControlName="name"/><br>

  <label>Description:&nbsp;</label>
  <input type="text" name="description" formControlName="description"/><br>

  <label>Parent:&nbsp;</label>
  <input type="text" name="parent" formControlName="parent"/><br>

  <label>EstimatedTime:&nbsp;</label>
  <input type="text" name=" estimatedTime" formControlName="estimatedTime"/><br>

  <!--<label>Type:&nbsp;</label>
  <input type="text" name="type" formControlName="type"/><br>-->
  <!-- <label>Priority:&nbsp;</label>
   <input type="text" name="priority" formControlName="priority"/><br>-->
  <!--<label>CreatedAt:&nbsp;</label>
  <input type="text" name="createdAt" formControlName="createdAt"/><br>-->


  <!--
    <select formControlName="type">
      <option *ngFor="let itemt of itemType" [value]="itemt.id">
        {{itemt.name}}
      </option>
    </select>
    <br>-->

  <label>ItemType:&nbsp;</label>

  <select formControlName="type">
    <option value="0">Select</option>
    <option value="1">Story</option>
    <option value="2">Bug</option>
    <option value="3">SubTask</option>
  </select>
  <br>

  <label>Priority:&nbsp;</label>

  <select formControlName="priority">
    <option value="0">Select</option>
    <option value="1">Urgent</option>
    <option value="2">High</option>
    <option value="3">Low</option>
  </select>
  <br>
  <label>CreatedBy:&nbsp;</label>

  <select formControlName="createdBy">
    <option *ngFor="let user of userList" [value]="user.id">
      {{user.name}}
    </option>
  </select>
  <br>


  <label>LinkedProject:&nbsp;</label>

  <select formControlName="linkedProject">
    <option *ngFor="let project of projectList; let i = index" [value]="projectList[i].id">
      {{projectList[i].name}}
    </option>
  </select>

  <br>
  <br>
    <button type="submit">Add Item</button>
  </form>
  </body>
  </html>

